.message {

    margin-top: 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;

}

.websiteinput {

    margin-top: 5px;
    min-width: 235px;
    border-radius: 6px;
    border-style: solid;
    border-color: darkgrey;

}

.insertbutton{

margin-top: 5px;
margin-left: 0px;

}

.dropdown {

    overflow: hidden;
    border-radius: 6px;
    border-style: solid;
    border-color: darkgrey;

}

.logtable {

    margin-top: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: darkgrey;
    font-family: sans-serif;
    font-size: 15px;

}

.logdata {

    border-width: 2px;
    border-style: solid;
    border-color: darkgrey;
    font-family: sans-serif;
    font-size: 15px;

}