.body {

    background-image: url("res/bg.png");

}

.message {

    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;

}

.websiteinput {

    margin-top: 5px;
    min-width: 315px;
    min-height: 40px;
    border-radius: 6px;
    border-style: solid;
    border-color: darkgrey;

}

.dropdown {

    overflow: hidden;
    border-radius: 6px;
    border-style: solid;
    border-color: darkgrey;

}

.logtable {

    margin-top: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: darkgrey;
    font-family: sans-serif;
    font-size: 15px;

}

.logdata {

    border-width: 2px;
    border-style: solid;
    border-color: darkgrey;
    font-family: sans-serif;
    font-size: 15px;

}

.submitbutton {

    margin-top: -4px;

}

.banner {

    background-color: #00b5cc;

}

.marq {
    font-size: 20px;
    font-family: sans-serif;
    animation: marquee 10s linear infinite;
}

.container-fluid{

    margin-top: 20px;

}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}